<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Xóa Khuyến Mãi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-4">
    <h2 class="mb-4">Xác nhận xóa khuyến mãi</h2>
    <p>Bạn có chắc muốn xóa khuyến mãi với mã: <b th:text="${promotion.code}"></b>?</p>

    <form th:action="@{/promotions/delete}" method="post">
        <input type="hidden" name="id" th:value="${promotion.id}">
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a th:href="@{/promotions}" class="btn btn-secondary">Hủy</a>
    </form>
</div>
</body>
</html>
